<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/dashboard']">Task Management Application</a>

    <ul class="navbar-nav mr-auto">
      <li *ngIf="isAdmin()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin-register']">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/task']">Tasks</a>
      </li>      
    </ul>

    <div *ngIf="isLoggedIn()">
      <a class="text-light">
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>  
      <div class="dropdown-menu">        
        <a class="dropdown-item" (click)="onLogout()">
          <i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div> 
    <div class="dropdown ml-3">
      <button type="button" class="btn btn-primary" data-toggle="dropdown" (click)="onLogout()">
        Logout
      </button>      
    </div>  
  </div>
</nav>

<p-growl [value]="growlMessage"></p-growl>